{% extends 'base.html.twig' %}

{% block title %}New Usuario
{% endblock %}

{% block body %}


	<div class="container">
		<div class="row justify-content-center">
			<h1>Crear un nuevo Usuario</h1>

			{{ include('usuario/_form.html.twig') }}

		</div>
	</div>



{% endblock %}
